/*html loading */

#loaderbg {
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000000;
    opacity: 0.8;
    z-index: 50000;
}

.loading-wrap {
    width: 150px;
    height: 150px;
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 60000;
}

.spinner {
    width: 150px;
    height: 150px;
    background: url(../assets/svg/mi6_logo.svg);
    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.bg-black {
    background-color: #000;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 60;
    opacity: 0.6;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(190px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(190px) rotateY(180deg) rotateX(0deg) rotateZ(0deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(190px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(190px) rotateX(0deg) rotateY(0deg);
        -moz-transform: perspective(190px) rotateX(0deg) rotateY(0deg);
        -ms-transform: perspective(190px) rotateX(0deg) rotateY(0deg);
        -o-transform: perspective(190px) rotateX(0deg) rotateY(0deg);
    }
    50% {
        transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -webkit-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -moz-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -ms-transform: perspective(190px) rotateX(0deg) rotateY(3600deg);
        -o-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
    }
    100% {
        transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -webkit-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -moz-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -ms-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
        -o-transform: perspective(190px) rotateX(0deg) rotateY(360deg);
    }
}

#sweeping_wrapper {
    width: 100%;
    max-width: 100%;
    height: 2000px;
    position: absolute;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    z-index: 200;
    background-color: transparent;
}

#grid {
    background: rgba(0, 0, 0, 0) url("../assets/image/grid.png") repeat scroll 100px 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.card_holder {
    width: 250px;
    height: 250px;
    position: absolute;
    background: purple;
    z-index: 0;
    color: white;
    text-align: center;
}

.card_holder:hover {
    cursor: p
}


}
.card_large {
    float: left;
    position: relative;
    width: 25%;
    height: 25%;
    background-color: #000;
}
.cards {
    width: 480px;
    height: 270px;
    float: left;
    position: relative;
}
.cards:hover {
    opacity: 1;
}
.minbox {
    width: 478px;
    height: 268px;
    border: 1px solid transparent;
    -kit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.minbox:hover {
    position: relative;
    z-index: 605;
    border-color: #2196f3;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(33, 149, 243, 1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(33, 149, 243, 1);
    -ms-box-shadow: 0px 0px 15px 0px rgba(33, 149, 243, 1);
    -o-box-shadow: 0px 0px 15px 0px rgba(33, 149, 243, 1);
    box-shadow: 0px 0px 15px 0px rgba(33, 149, 243, 1);
}
.minbox:hover .imgbg_dark {
    background-color: rgba(0, 0, 0, 0.2);
}
.minbox:hover .link_direct {
    background: url(../assets/svg/link_icon.svg);
}
.link_direct {
    width: 30px;
    height: 30px;
    position: absolute;
    margin-left: 224px;
    margin-top: 119px;
    z-index: 300;
    -kit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.link_direct:hover {
    background: url(../assets/svg/link_icon.svg);
}
.image_wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
}
.imgbg_dark {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.8);
    pointer-events: none;
    -kit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.imgbg_dark:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.content_sort_wrapper {
    width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 20px;
    background-color: rgba(0,0,0,0.4);
    z-index: 10000;
}
.social_btns {
    width: 240px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}
#msg_inform {
    width: 220px;
    height: 50px;
    position: absolute;
    z-index: 15000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.inform_text {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    opacity: 1;
    
    color: #1A4C6D;
}



