body,html{
    margin: 0;
    background-color: #223242;
}

.container-main {
    width: 100%;
    height: 100%;
    position: absolute;
}

.user_wrapper {
    width: 500px;
    height: 200px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;

    background-color: transparent;
}

.logo_wrap {
    width: 198px;
    height: 198px;
    float: left;
    position: absolute;
    border: 1px dashed #7BBBD6;
    border-radius: 100px;
    
    background: url(../assets/svg/logo_roll.svg) no-repeat 0 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo_wrap:hover{
    background: url(../assets/svg/logo_roll.svg) no-repeat 0 -200px;
    background-color: #7bbbd6;
}

.logo_text_wrap {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
    float: right;
}

.name_wrap {
    width: 100%;
    height: 40px;
    
    text-indent: 10px;
    font-size: 20px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
}

.descr_wrap {
    width: 100%;
    height: 40px;
    
    text-indent: 10px;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0.8;

    color: #eee;
}

.task_wrap {
    width: 100%;
    height: 40px;
    float: left;
    
    text-align:left;
    text-indent: 5px;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    opacity: 0.8;
}

.about_wrapper {
    width: 500px;
    height: 500px;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: transparent;
}









canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */

.count-particles{
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13E8E9;
    font-size: .8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles{
    font-size: 1.1em;
}

.logo-wrapper-about {
    width: 100%;
    height: 200px;
}

.logo_about {
    width: 198px;
    height: 198px;
    float: left;
    position: absolute;
    border: 1px dashed rgba(123, 187, 214, 0.2);
    border-radius: 100px;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    
    background: url(../assets/svg/mi6_logo.svg);
    
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo_about:hover{
    border: 1px dashed rgba(123, 187, 214, 1);
}


.dark {
    background-color: #223242;
}

.text_div_ab {
    width: 100%;
    height: auto;
    
    text-indent: 10px;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    
    position: absolute;
    margin-top: 240px;
    text-align: center;

    color: #eee;
}

.social_btns_ab {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
}


/*social btns*/

.sbtn{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 5px;
    margin-left: 5px;
    opacity: 0.6;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.sbtn:hover{
    opacity: 1;
}

.social_block{
    width: 240px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

.facebook{
    background: url(../assets/svg/facebook_icon.svg);
}

.youtube{
    background: url(../assets/svg/youtube_icon.svg);
}

.vimeo{
    background: url(../assets/svg/vimeo_icon.svg);
}

.gitHub{
    background: url(../assets/svg/GitHub.svg);
}

.devian{
    background: url(../assets/svg/devart_icon.svg);
}

.gplus{
    background: url(../assets/svg/gplus_icon.svg);
}
.creame_c {
    color: #eee;
}

.logo_wrap_ab {
    width: 198px;
    height: 198px;
    float: left;
    position: absolute;
    border-radius: 100px;
    border: 1px dashed #2196f3;
    
    background: url(../assets/svg/logo_roll.svg) no-repeat 0 0px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.logo_wrap_ab:hover{
    background: url(../assets/svg/logo_roll.svg) no-repeat 0 -200px;
    background-color: #7bbbd6;
}

.blue_c {
    color: #223242;
}

.edgelogo{
    margin-top: 6px;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;
    width: 55px;
    height: 55px;
    float: left;
    background-color: #202020;
    border-radius: 50%;
    z-index: 1500;
}

.logo{
    margin-left: 7px;
    margin-top: 7px;
    width: 40px;
    height: 40px;
    background: url(../assets/svg/mi6_logo.svg);
}.edgelogo {
    
}

.pghead {
    top: 0;
    left: 0;
    height: 60px;
    width: 400px;
    position: fixed;
    display: block;
    z-index: 1500;
    margin-left: 75px;
}

.heading{
	font-family:  'Roboto', sans-serif;
    font-size: 24px; 
    font-weight:300;
	margin-left: 5px;
	line-height: 60px;
    opacity:0.54;
	float: left;
}

.blue {
    color: #2196f3;
}

.aka_text {
    width: 100%;
    height: 40px;
    
    text-indent: 10px;
    font-size: 16px;
    font-style: italic;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
}



.nav_wrapper {
    width: 405px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 60px;
    margin-top: 15px;
    z-index: 10000;
    background-color: rgba(0,0,0,0.4);
    display: none;
}

#nav_btn {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 10px;
    z-index: 10000;
    line-height: 50px;
    font-size: 16px;
    text-align: center;
    color: #eee;
    opacity: 0.8;
    cursor: pointer;

    background-color: rgba(0,0,0,0.4);

    -kit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav_btn:hover{
    opacity: 1;
}

.nav_text {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 1;
    padding-left: 5px;

    color: #eee;
}

.comming_soon_wrapper {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
}

.soon_text {
    width: 100%;
    height: 40px;
    
    text-align: center;
    text-indent: 10px;
    font-size: 20px;
    line-height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;

    color: #eee;
}

.goback_text {
    bottom: 0;
    height: 30px;
    width: 200px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    
    text-align: center;
    text-indent: 10px;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    opacity: 0.8;
    color: #2196f3;
}

scratch {
    font-style: oblique;
    color: dimgray;
}
