body {
  margin: 0;
  padding: 0;
  background: #fcfcfc;
  color: #222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  /* Fix for preserving font sizes on iPhones (at least) */
   -webkit-text-size-adjust: 100%;
}


a {
  color: #cc0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#canvas-mask {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  height: 100%;
  width: 100%;
  border-radius: 0;
  overflow: hidden;
  z-index: 100;
}

#canvas-mask .handle {
  width: 3840px; /* 200% 200% */
  height: 2160px;
  border-radius: 0;
  /* background: url('../assets/image/wallhaven-239462.jpg') no-repeat center center; */
}

#canvas-mask .handle .page {
  float: left;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

#canvas-mask .handle .page .menu {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0;
  padding: 10px 15px;
  background: #000;
  background: rgba(0, 0, 0, 0.75);
  color: #666;
  cursor: default;
}

#canvas-mask .handle .page .body {
  position: absolute;
  bottom: 15px;
  left: 15px;
  margin: 0;
  padding: 10px 15px;
  background: #fff;
  background: rgba(255, 255, 255, 0.5);
  color: #000;
  color: rgba(0, 0, 0, 0.75);
  font-size: 30px;
  line-height: 40px;
}
